header .top {
  height: 41px;
  background: #fafafc;
  position: relative;
}
header .top .head {
  width: 1240px;
  height: 41px;
  margin: 0 auto;
}
header .top .head .top-left {
  height: 40px;
  float: left;
}
header .top .head .top-right {
  height: 40px;
  float: right;
}
header .top .head .top-right .top-info {
  float: right;
}
header .top .head .top-right .top-info li {
  float: left;
}
header .top .head .top-right .top-info li a .top-new {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #ed4462;
  font-size: 12px;
  margin-left: 5px;
  height: 13px;
  line-height: 10px;
  padding: 0 2px;
  top: -1px;
  border-radius: 2px;
}
header nav {
  height: 80px;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 150;
  background: #fff;
}
header nav .nav-mid {
  width: 1240px;
  margin: 0 auto;
}
header nav .nav-mid .logo {
  float: left;
  padding: 30px 0 0 0;
}
header nav .nav-mid .head-nav {
  float: left;
  margin-left: 100px;
  height: 80px;
}
header nav .nav-mid .head-nav ul {
  height: 100%;
}
header nav .nav-mid .head-nav ul li {
  float: left;
  cursor: pointer;
  position: relative;
}
header nav .nav-mid .head-nav ul li a {
  padding: 20px 0 0;
  color: #333;
  font-size: 16px;
  display: block;
  transition: color .2s linear;
}
header nav .nav-mid .head-nav ul li a:hover {
  color: #00cdf7;
}
header nav .nav-mid .head-nav .top-hide {
  z-index: 30;
  height: 204px;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #f3f3f3;
  position: absolute;
  top: 80px;
  display: none;
}
header nav .nav-mid .head-nav .top-hide .container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list {
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li {
  float: left;
  padding: 10px 14px 26px 14px;
  width: 162px;
  position: relative;
  text-align: center;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a {
  outline: 0;
  text-align: center;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a .pro-name {
  width: 162px;
  color: #333;
  font-size: 12px;
  text-align: center;
  margin-bottom: -100px;
  position: absolute;
  left: 0;
  top: 140px;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a .price {
  font-size: 14px;
  color: #e23b4f;
  text-align: center;
  margin-bottom: -100px;
  position: absolute;
  left: 50px;
  top: 160px;
}
section {
  width: 100%;
  margin: 0 auto;
}
section .store-warp {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
section .store-warp .crumbs {
  margin: 10px 0 24px;
  width: 100%;
}
section .store-warp .crumbs a {
  display: inline-block;
  text-decoration: none;
  color: #515151;
  background: transparent;
}
section .store-warp .crumbs .active {
  color: #00c3f5;
}
section .store-warp .main {
  margin-bottom: 40px;
  overflow: hidden;
}
section .store-warp .main .left-nav {
  font-size: 14px;
  color: #515151;
  width: 15%;
  min-height: 580px;
  float: left!important;
}
section .store-warp .main .left-nav .nav-main {
  margin-top: 10px;
  background: #fafafc;
  padding: 0 0 54px 0px;
  font-size: 14px;
  color: #515151;
}
section .store-warp .main .left-nav .nav-main a {
  display: block;
  color: #515151;
  text-decoration: none;
  line-height: 34px;
  width: 90px;
  background: transparent;
  font-size: 14px;
}
section .store-warp .main .left-nav .nav-main a:hover {
  color: #00c3f5;
}
section .store-warp .main .left-nav .nav-main .active {
  color: #00c3f5;
}
section .store-warp .main .left-nav .nav-main .type-title {
  line-height: 14px;
  padding: 15px 0 15px;
  font-weight: bolder;
  cursor: default;
}
section .store-warp .main .left-nav .nav-main .type-title i {
  margin-left: -15px;
  padding-right: 5px;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}
section .store-warp .main .right-content {
  width: 83%;
  display: inline-block;
  float: right!important;
}
section .store-warp .main .right-content .address-main {
  color: #515151;
  font-size: 14px;
  overflow: hidden;
}
section .store-warp .main .right-content .address-main .main {
  margin-bottom: 40px;
  color: #515151;
  font-size: 14px;
  overflow: hidden;
}
section .store-warp .main .right-content .address-main .main .row {
  color: #515151;
  font-size: 14px;
  overflow: hidden;
}
section .store-warp .main .right-content .address-main .main .row .title {
  line-height: 38px;
  padding-left: 25px;
  margin: 10px 0 20px;
  font-size: 18px;
  font-weight: 700;
}
section .store-warp .main .right-content .address-main .main .row .gray {
  color: #797979;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main .row .gray .already {
  color: #00c3f5;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form {
  display: block;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content {
  padding: 25px 0 20px 30px;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .row {
  margin-bottom: 25px;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .row span {
  display: inline-block;
  margin-right: 20px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .row span i {
  font-style: normal;
  color: #ff0101;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .row input {
  line-height: 35px;
  height: 35px;
  border: 1px solid #e0e0e0;
  outline: 0;
  color: #515151;
  font-family: inherit;
  font-size: 100%;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .name-phone {
  overflow: hidden;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .name-phone .address-name {
  float: left!important;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .name-phone .address-name span {
  display: inline-block;
  margin-right: 20px;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .name-phone .address-name span i {
  font-style: normal;
  color: #ff0101;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .name-phone .address-name input {
  display: inline-block;
  margin-right: 40px;
  width: 300px;
  padding: 0 10px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .address-phone {
  float: left!important;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .address-phone input {
  display: inline-block;
  margin-right: 40px;
  width: 300px;
  padding: 0 10px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .receverAddress input {
  display: inline-block;
  margin-left: 20px;
  width: 780px;
  padding: 0 10px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .opreat {
  text-align: right;
  margin: 35px 98px 0 0;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .opreat label {
  margin-right: 28px;
  text-align: right;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .opreat label .setDefault {
  margin-right: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
}
section .store-warp .main .right-content .address-main .main #valid-form .content .opreat .saveAddress {
  width: 100px;
  height: 36px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  background: #00c3f5;
  border-radius: 4px;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
}
section .store-warp .main .right-content .address-main .main .list {
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main .list .row .title {
  line-height: 38px;
  padding-left: 25px;
  margin: 10px 0 20px;
  font-size: 18px;
  font-weight: 700;
}
section .store-warp .main .right-content .address-main .main .list .row .title .c1 {
  font-size: 18px;
  font-weight: 700;
}
section .store-warp .main .right-content .address-main .main .list .listHead {
  background: #fafafc;
  border: 1px solid #fafafc;
  line-height: 40px;
  margin-bottom: 10px;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main .list .listHead .w15 {
  width: 15%;
}
section .store-warp .main .right-content .address-main .main .list .listHead .w10 {
  width: 10%;
}
section .store-warp .main .right-content .address-main .main .list .listHead .w25 {
  width: 25%;
}
section .store-warp .main .right-content .address-main .main .list .listHead .w35 {
  width: 35%;
}
section .store-warp .main .right-content .address-main .main .list .listHead span {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  color: #515151;
  font-size: 14px;
}
section .store-warp .main .right-content .address-main .main .list #table-list {
  min-height: 300px;
  width: 100%;
}
section .store-warp .main .right-content .address-main .main .list #table-list .w15 {
  width: 15%;
}
section .store-warp .main .right-content .address-main .main .list #table-list .w10 {
  width: 10%;
}
section .store-warp .main .right-content .address-main .main .list #table-list .w25 {
  width: 25%;
}
section .store-warp .main .right-content .address-main .main .list #table-list .w35 {
  width: 35%;
}
section .store-warp .main .right-content .address-main .main .list #table-list li {
  margin-top: 1px;
  border: 1px solid #f3f3f3;
  height: 50px;
  display: table;
  border-top: 0;
  overflow: hidden;
  width: 100%;
}
section .store-warp .main .right-content .address-main .main .list #table-list li span {
  border-top: 1px solid #f3f3f3;
  text-align: center;
  padding: 10px 0;
  display: table-cell;
  vertical-align: middle;
}
section .store-warp .main .right-content .address-main .main .list #table-list li span a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
section .store-warp .main .right-content .address-main .main .list #table-list li .edit {
  text-align: center;
  color: #515151;
  margin-right: 5%;
}
section .store-warp .main .right-content .address-main .main .list #table-list li .edit:hover {
  color: #00cdf7;
}
section .store-warp .main .right-content .address-main .main .list #table-list li .delete {
  text-decoration: none;
}
section .store-warp .main .right-content .address-main .main .list #table-list li .left {
  border-right: 1px solid #f3f3f3;
  text-align: left!important;
}
section .store-warp .main .right-content .address-main .main .list #table-list li .left .beDefault {
  margin-right: 5%;
  margin-left: 34px;
  padding: 0 5px;
  line-height: 20px;
  color: #fff!important;
  font-style: normal;
  border-radius: 2px;
  background: #00c3f5;
  text-decoration: none;
  font-size: 12px;
}
footer {
  background-color: #fafafc;
}
footer .container {
  width: 1240px;
  margin: 0 auto;
}
footer .container .footer-servive {
  padding: 38px 8px 26px;
  border-bottom: 1px solid #e5e5e5;
}
footer .container .footer-servive ul {
  overflow: hidden;
  display: block;
}
footer .container .footer-servive ul li {
  float: left;
}
footer .container .footer-servive ul .item {
  width: 203px;
  text-align: center;
}
footer .container .footer-servive ul .item .img {
  display: inline-block;
  height: 36px;
  width: 94px;
  background: no-repeat 50% 50%;
  margin-bottom: 12px;
  text-align: center;
  background-image: url("../images/foot1.png");
}
footer .container .footer-servive ul .item p {
  text-align: center;
}
footer .container .footer-servive ul .item p .blod {
  color: #666;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
footer .container .footer-servive ul .line {
  padding-top: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}
footer .container .footer-servive ul .line span {
  display: inline-block;
  height: 44px;
  width: 1px;
  background-color: #e5e5e5;
}
footer .container .footer-nav {
  overflow: hidden;
  padding: 30px 0;
  margin-right: -10px;
}
footer .container .footer-nav .nav-item {
  float: left;
  width: 244px;
  text-align: center;
  margin-right: 5px;
}
footer .container .footer-nav .nav-item h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
footer .container .footer-nav .nav-item ul {
  text-align: center;
}
footer .container .footer-nav .nav-item ul li {
  line-height: 22px;
}
footer .container .footer-nav .nav-item ul li a {
  font-size: 12px;
  color: #666;
  transition: color .2s linear;
  line-height: 22px;
}
footer .container .footer-nav .nav-item ul li a:hover {
  color: #00cdf7;
}
footer .container .footer-nav .nav-custom {
  float: left;
  width: 244px;
  text-align: center;
  margin-right: 5px;
}
footer .container .footer-nav .nav-custom h4 {
  font-size: 14px;
  color: #666;
  text-align: center;
}
footer .container .footer-nav .nav-custom a h3 {
  color: #1fa7ea;
  font-size: 24px;
  margin: 20px 0 14px;
  text-align: center;
}
footer .container .footer-nav .nav-custom .nav-btn {
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #1fa7ea;
  border-radius: 2px;
  font-size: 12px;
  transition: all .2s linear;
}
footer .container .footer-nav .nav-custom .nav-btn img {
  line-height: 34px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}
footer .container .footer-end {
  border-top: 1px solid #e5e5e5;
  padding: 38px 0 56px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
footer .container .footer-end p {
  text-align: center;
  color: #666;
  font-size: 12px;
}
