header{
    .top{
        height: 41px;
        background: #fafafc;
        position: relative;
        //z-index: 200;
        .head{
            width: 1240px;
            height: 41px;
            margin: 0 auto;
            //background: red;
            .top-left{
                height: 40px;
                float: left;
                //border: 1px solid red;
            }
            .top-right{
                height: 40px;
                float: right;
                .top-info{
                    float: right;
                    li{
                        float: left;
                        a{
                            .top-new{
                                display: inline-block;
                                vertical-align: middle;
                                color: #fff;
                                background-color: #ed4462;
                                font-size: 12px;
                                margin-left: 5px;
                                height: 13px;
                                line-height: 10px;
                                padding: 0 2px;
                                top: -1px;
                                border-radius: 2px;
                            }
                        }
                    }

                }
            }
        }
    }
    nav{
        height: 80px;
        border-bottom: 1px solid #efefef;
        position: relative;
        z-index: 150;
        background: #fff;

        .nav-mid{
            width: 1240px;
            margin: 0 auto;
            .logo{
                float: left;
                padding: 30px 0;
            }
            .head-nav{
                float: left;
                margin-left: 100px;
                height:80px;
                ul{
                    height: 100%;
                    li{
                        float: left;
                        cursor: pointer;
                        position: relative;
                        a{
                            padding: 20px 0 0;
                            color: #333;
                            font-size: 16px;
                            display: block;
                            transition: color .2s linear;
                        }
                        a:hover{
                            color:#00cdf7;
                        }
                    }
                }
                .top-hide{
                    z-index: 30;
                    height:204px;
                    width: 100%;
                    left: 0;
                    background: rgba(255,255,255,.95);
                    border-bottom: 1px solid #f3f3f3;
                    position: absolute;
                    top:80px;
                    display: none;
                    .container{
                        width: 1240px;
                        margin: 0 auto;
                        //border:1px solid red;
                        position: relative;
                        .menu-list{
                            padding: 0 50px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: none;
                            li{
                                float: left;
                                padding: 10px 14px 26px 14px;
                                width: 162px;
                                position: relative;
                                text-align: center;

                                a{
                                    outline: 0;
                                    text-align: center;
                                    .pro-name{
                                        width: 162px;
                                        color: #333;
                                        font-size: 12px;
                                        text-align: center;
                                        margin-bottom: -100px;
                                        position: absolute;
                                        left: 0;
                                        top:140px;
                                    }
                                    .price{
                                        font-size: 14px;
                                        color: #e23b4f;
                                        text-align: center;
                                        margin-bottom: -100px;
                                        position: absolute;
                                        left: 50px;
                                        top:160px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
section{
    //display:table;
    //overflow: hidden;
    position: relative;
    .sort{
        height: 480px;
        //clear: both;
        //overflow: hidden;
        position: relative;
        //height: 480px;
        z-index:110;
        width: 1240px;
        margin: 0 auto;
        //border: 1px solid red;
        .category-list{
            position: absolute;
            top: 0;
            left: 0;
            height: 480px;
            background-color: rgba(248,247,247,.8);
            .category-nav{
                padding: 12px 0;
                .category-nav-item{
                    overflow: hidden;
                    height: 57px;
                    line-height: 57px;
                    .category-nav-link{
                        overflow: hidden;
                        padding: 0 30px;
                        width: 184px;
                        color: #3a3a3a;
                        font-size: 14px;
                        display: block;
                        height: 100%;
                    }
                    .category-nav-link:hover{
                        background: white;
                        width: 185px;
                    }
                    .category-nav-children{
                        position: absolute;
                        top: 0;
                        left: 244px;
                        width: 656px;
                        height: 480px;
                        background: #fff;
                        display: none;
                        box-shadow: 1px 1px 2px rgba(0,0,0,.1);
                        line-height: 57px;
                        .nav-children-wrap{
                            float: left;
                            padding: 31px 20px 0;
                            line-height: 57px;
                            .nav-children-left{
                                float: left;
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                font-weight: 400;
                                line-height: 57px;
                                .nav-children-item{
                                    width: 160px;
                                    margin-bottom: 22px;
                                    padding: 5px 0;
                                    a{
                                        font-size: 14px;
                                        color: #333;
                                        display: table;
                                        padding-right: 10px;
                                        line-height: 18px;
                                        vertical-align: middle;

                                        span{
                                            display: table-cell;
                                            width: 57px;
                                            padding: 0;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                        .category-item-ad{
                            float: left;
                            width: 296px;
                            height: 480px;
                        }
                    }
                }
                .category-nav-item:hover{
                    background: white;
                }
                .category-nav-item:hover .category-nav-children{
                    display: block;
                }
            }
        }
    }
    .homeSlider:hover .middle{
        display: block;
    }
    .homeSlider{
        height: 480px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top:0;
        z-index: 1;
        .home-slider-items{
            width: 1240px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            height: 480px;
            z-index: 3;
            //border: 1px solid red;
            ul{
                width: auto;
                position: relative;
                //border: 1px solid red;
                li{
                    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                    float: none;
                    list-style: outside none none;
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 480px;
                    z-index: 0;
                    //display: none;
                    //border: 1px solid black;
                }
            }
        }
        .circel{
            width: 110px;
            height: 22px;
            //background: black;
            z-index: 3;
            position: absolute;
            bottom: 5px;
            left: 50%;
            ul{
                height: 12px;
                li{
                    border-radius: 50%;
                    margin: 5px;
                    float: left;
                    background-color: transparent;
                    border: 1px solid silver;
                    height: 9px;
                    width: 9px;
                    cursor: pointer;
                    transition: all .2s linear;
                }
                li:hover{
                    border: 1px solid #00cdf7;
                    background: #00cdf7;
                }
                .first{
                    border: 1px solid #00cdf7;
                    background: #00cdf7;
                }
            }
        }
        .middle{
            position: absolute;
            //height: 480px;
            top: 0;
            //margin-left: 50%;
            width: 100%;
            height: 60px;
            margin: 0 auto;
            z-index: 3;
            display: none;
            .move{

                width: 1240px;
                height: 60px;
                margin: 210px auto 0;
                //border: 1px solid black;
                position: relative;
                z-index: 3;
                //display: none;
                .moveleft{
                    height: 60px;
                    width: 30px;
                    text-align: center;
                    line-height: 60px;
                    margin-left: 244px;
                    font-size: 20px;
                    background: rgba(0,0,0,0.6);
                    cursor: pointer;
                    //display: none;
                }
                .moveright{
                    position: absolute;
                    top:0;
                    right: 0;
                    display: inline-block;
                    height: 60px;
                    width: 30px;
                    text-align: center;
                    line-height: 60px;
                    margin-left: 1210px;
                    font-size: 20px;
                    background: rgba(0,0,0,0.6);
                    cursor: pointer;
                    //display: none;
                }
            }
        }
    }
    .home-container{
        overflow: hidden;
        //margin-top: 480px;
        //width: 1240px;
        //position: absolute;
        width: 100%;
        //top: 480px;
        margin: 0 auto;
        //border: 1px solid red;
        .scontainer{
            width: 1240px;
            margin: 0 auto;
            //border: 1px solid red;
            .home-ad{
                margin-top: 6px;
                overflow: hidden;
                .service{
                    width: 244px;
                    background: #f9f9f9;
                    .service2{
                        float: left;
                        width: 50%;
                        text-align: center;
                        a{
                            font-size: 12px;
                            color: #333;
                            padding: 15px;
                            display: inline-block;
                            span{
                                display: inline-block;
                                height: 24px;
                                width: 48px;
                                background-size: auto 24px;
                                background: no-repeat center bottom;
                                img{
                                    vertical-align: top;
                                }
                            }
                            p{
                                line-height: 12px;
                                margin-top: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .home-box{
                    float: left;
                    height: 140px;
                }
                .ad-box{
                    width: 244px;
                    margin-left: 5px;
                }
            }
            .home-hot{
                margin-top: 40px;
                .home-topbar{
                    overflow: hidden;
                    .home-title{
                        font-size: 24px;
                        color: #333;
                        font-weight: 400;
                        float: left;
                    }
                }
                .home-rmain{
                    overflow: hidden;
                    border: 0;
                    width: 1241px;
                    .rmd-content{
                        margin-left: -30px;
                        margin-right: -10px;
                        overflow: hidden;
                        padding-bottom: 40px;
                        padding-left: 30px;
                        padding-top: 20px;
                        width: 1300px;
                        .rm-box{
                            .rm-list{
                                float: left;
                                .rm-product{
                                    position: relative;
                                    height: 338px;
                                    width: 247px;
                                    border: 1px solid #efefef;
                                    margin-right: -1px;
                                    z-index: 1;
                                    float: left;
                                    a{
                                        .rm-product-d{
                                            padding: 36px 10px 5px;
                                            text-align: center;
                                            .rm-desc{
                                                margin-top: 40px;
                                                text-align: center;
                                                h4{
                                                    font-size: 14px;
                                                    color: #555757;
                                                }
                                                h6{
                                                    font-size: 12px;
                                                    color: #999;
                                                    margin-top: 2px;
                                                }
                                                p{
                                                    display: inline-block;
                                                    margin-top: 5px;
                                                    font-size: 12px;
                                                    color: #e02b41;
                                                    text-align: center;
                                                    span{
                                                        font-size: 16px;
                                                        color: #e02b41;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .home-floor-ad{
            width: 1240px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .home-full-box{
            background-color: #f5f5f5;
            width: 100%;
            overflow: hidden;
            .full-container{
                width: 1240px;
                margin: 0 auto;
                //border: 1px solid red;
                .home-floor{
                    margin-top: 40px;
                    .home-topbar{
                        overflow: hidden;
                        h2{
                            font-size: 24px;
                            color: #333;
                            font-weight: 400;
                            float: left;
                        }
                        h6{
                            float: left;
                            padding-top: 6px;
                        }
                        .home-floor-tools{
                            float: right;
                            margin-top: 6px;
                            .more{
                                font-size: 14px;
                                color: #333;
                                margin-right: 10px;
                                transition: color .2s linear;
                            }
                            .more:hover{
                                color: #00cdf7;
                            }
                        }
                    }
                    .home-floor-main{
                        .home-floor-content{
                            padding-bottom: 34px;
                            margin-left: -30px;
                            margin-right: -10px;
                            overflow: hidden;
                            padding-left: 30px;
                            padding-top: 20px;
                            width: 1300px;
                            .content-box{
                                margin-bottom: 6px;
                                position: relative;
                                float: left;
                                margin-right: 6px;
                                transition: left .2s ease,border .5s,z-index .5s;
                                background-color: #fff;
                                height: 338px;
                                width: 244px;
                                //position: relative;
                            }
                            .box-product{
                                //margin-top: 40px;
                                top: 0;
                                text-align: center;
                                transition: all .2s linear 0s;
                                position: relative;
                                a{
                                    .rm-product-d {
                                        padding: 36px 10px 5px;
                                        text-align: center;
                                        .product-desc{
                                            margin-top: 40px;
                                            text-align: center;
                                            h4{
                                                font-size: 14px;
                                                color: #555757;
                                            }
                                            h6{
                                                font-size: 12px;
                                                color: #999;
                                                margin-top: 2px;
                                            }
                                            p{
                                                display: inline-block;
                                                margin-top: 5px;
                                                font-size: 12px;
                                                color: #e02b41;
                                                text-align: center;
                                                span{
                                                    font-size: 16px;
                                                    color: #e02b41;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .box-product:hover{
                                transform: translateY(-4px);
                                -moz-box-shadow:-9px 9px 20px rgba(0,0,0,0.1), 7px 10px 20px rgba(0,0,0,0.1); -webkit-box-shadow:-9px 9px 20px rgba(0,0,0,0.1), 7px 10px 20px rgba(0,0,0,0.1); box-shadow:-9px 9px 20px rgba(0,0,0,0.1), 7px 10px 20px rgba(0,0,0,0.1);
                            }
                            .box1{
                                height: 338px;
                                width: 244px;
                                position: relative;
                                transition: .5s;
                                overflow: hidden;
                                .box2{
                                    height: 100px;
                                    width: 100%;
                                    background: rgba(255,255,255,.8);
                                    position: absolute;
                                    bottom: -100px;
                                    left: 0;
                                    transition: .5s;
                                    a{
                                        display: block;
                                        width: 188px;
                                        height: 40px;
                                        border-radius: 5px;
                                        background: #ff5a59;
                                        color: #fff;
                                        margin: 0 auto;
                                        margin-top: 30px;
                                        outline: 0;
                                        text-decoration: none;
                                        text-align: center;
                                        line-height: 40px;
                                        cursor: pointer;
                                    }
                                }
                            }
                            .box1:hover .box2{
                                transform: translateY(-100px);
                            }
                            //.box1:hover{
                            //    transform: translateY(-2px);
                            //    box-shadow:10px 10px 15px rgba(0,0,0,0.1);
                            //}
                        }
                    }
                }
            }
            .home-floor-ad{
                width: 1240px;
                height: 120px;
                margin:0 auto;
                margin-bottom: 20px;
            }
        }

    }
}
footer{
    background-color: #fafafc;
    .container{
        width: 1240px;
        margin: 0 auto;
        //border: 1px solid red;
        .footer-servive{
            padding: 38px 8px 26px;
            border-bottom: 1px solid #e5e5e5;
            ul{
                overflow: hidden;
                display: block;
                li{
                    float: left;
                }
                .item{
                    width: 203px;
                    text-align: center;
                    .img{
                        display: inline-block;
                        height: 36px;
                        width: 94px;
                        background: no-repeat 50% 50%;
                        margin-bottom: 12px;
                        text-align: center;
                        background-image: url("../images/foot1.png");
                    }
                    p{
                        text-align: center;
                        .blod{
                            color: #666;
                            font-weight: 700;
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
                .line{
                    padding-top: 10px;
                    display: list-item;
                    text-align: -webkit-match-parent;
                    span{
                        display: inline-block;
                        height: 44px;
                        width: 1px;
                        background-color: #e5e5e5;
                    }
                }
            }
        }
        .footer-nav{
            overflow: hidden;
            padding: 30px 0;
            margin-right: -10px;
            .nav-item{
                float: left;
                width: 244px;
                text-align: center;
                margin-right: 5px;
                h4{
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 10px;
                    text-align: center;
                }
                ul{
                    text-align: center;
                    li{
                        line-height: 22px;
                        a{
                            font-size: 12px;
                            color: #666;
                            transition: color .2s linear;
                            line-height: 22px;
                        }
                        a:hover{
                            color: #00cdf7;
                        }
                    }
                }
            }
            .nav-custom{
                float: left;
                width: 244px;
                text-align: center;
                margin-right: 5px;
                h4{
                    font-size: 14px;
                    color: #666;
                    text-align: center;
                }
                a{
                    h3{
                        color: #1fa7ea;
                        font-size: 24px;
                        margin: 20px 0 14px;
                        text-align: center;
                    }
                }
                .nav-btn{
                    display: inline-block;
                    width: 160px;
                    height: 34px;
                    line-height: 34px;
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    background-color: #1fa7ea;
                    border-radius: 2px;
                    font-size: 12px;
                    transition: all .2s linear;
                    img{
                        line-height: 34px;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }
        }
        .footer-end{
            border-top: 1px solid #e5e5e5;
            padding: 38px 0 56px;
            text-align: center;
            color: #666;
            font-size: 12px;
            p{
                text-align: center;
                color: #666;
                font-size: 12px;
            }
        }
    }
}
