header .top {
  height: 41px;
  background: #fafafc;
  position: relative;
}
header .top .head {
  width: 1240px;
  height: 41px;
  margin: 0 auto;
}
header .top .head .top-left {
  height: 40px;
  float: left;
}
header .top .head .top-right {
  height: 40px;
  float: right;
}
header .top .head .top-right .top-info {
  float: right;
}
header .top .head .top-right .top-info li {
  float: left;
}
header .top .head .top-right .top-info li a .top-new {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #ed4462;
  font-size: 12px;
  margin-left: 5px;
  height: 13px;
  line-height: 10px;
  padding: 0 2px;
  top: -1px;
  border-radius: 2px;
}
header nav {
  height: 80px;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 150;
  background: #fff;
}
header nav .nav-mid {
  width: 1240px;
  margin: 0 auto;
}
header nav .nav-mid .logo {
  float: left;
  padding: 30px 0;
}
header nav .nav-mid .head-nav {
  float: left;
  margin-left: 100px;
  height: 80px;
}
header nav .nav-mid .head-nav ul {
  height: 100%;
}
header nav .nav-mid .head-nav ul li {
  float: left;
  cursor: pointer;
  position: relative;
}
header nav .nav-mid .head-nav ul li a {
  padding: 20px 0 0;
  color: #333;
  font-size: 16px;
  display: block;
  transition: color .2s linear;
}
header nav .nav-mid .head-nav ul li a:hover {
  color: #00cdf7;
}
header nav .nav-mid .head-nav .top-hide {
  z-index: 30;
  height: 204px;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #f3f3f3;
  position: absolute;
  top: 80px;
  display: none;
}
header nav .nav-mid .head-nav .top-hide .container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list {
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li {
  float: left;
  padding: 10px 14px 26px 14px;
  width: 162px;
  position: relative;
  text-align: center;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a {
  outline: 0;
  text-align: center;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a .pro-name {
  width: 162px;
  color: #333;
  font-size: 12px;
  text-align: center;
  margin-bottom: -100px;
  position: absolute;
  left: 0;
  top: 140px;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a .price {
  font-size: 14px;
  color: #e23b4f;
  text-align: center;
  margin-bottom: -100px;
  position: absolute;
  left: 50px;
  top: 160px;
}
section {
  position: relative;
}
section .sort {
  height: 480px;
  position: relative;
  z-index: 110;
  width: 1240px;
  margin: 0 auto;
}
section .sort .category-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 480px;
  background-color: rgba(248, 247, 247, 0.8);
}
section .sort .category-list .category-nav {
  padding: 12px 0;
}
section .sort .category-list .category-nav .category-nav-item {
  overflow: hidden;
  height: 57px;
  line-height: 57px;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-link {
  overflow: hidden;
  padding: 0 30px;
  width: 184px;
  color: #3a3a3a;
  font-size: 14px;
  display: block;
  height: 100%;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-link:hover {
  background: white;
  width: 185px;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children {
  position: absolute;
  top: 0;
  left: 244px;
  width: 656px;
  height: 480px;
  background: #fff;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 57px;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children .nav-children-wrap {
  float: left;
  padding: 31px 20px 0;
  line-height: 57px;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children .nav-children-wrap .nav-children-left {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  line-height: 57px;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children .nav-children-wrap .nav-children-left .nav-children-item {
  width: 160px;
  margin-bottom: 22px;
  padding: 5px 0;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children .nav-children-wrap .nav-children-left .nav-children-item a {
  font-size: 14px;
  color: #333;
  display: table;
  padding-right: 10px;
  line-height: 18px;
  vertical-align: middle;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children .nav-children-wrap .nav-children-left .nav-children-item a span {
  display: table-cell;
  width: 130px;
  padding: 0;
  vertical-align: middle;
}
section .sort .category-list .category-nav .category-nav-item .category-nav-children .category-item-ad {
  float: left;
  width: 296px;
  height: 480px;
}
section .sort .category-list .category-nav .category-nav-item:hover {
  background: white;
}
section .sort .category-list .category-nav .category-nav-item:hover .category-nav-children {
  display: block;
}
section .homeSlider:hover .middle {
  display: block;
}
section .homeSlider {
  height: 480px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
section .homeSlider .home-slider-items {
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 480px;
  z-index: 3;
}
section .homeSlider .home-slider-items ul {
  width: auto;
  position: relative;
}
section .homeSlider .home-slider-items ul li {
  background: #ffffff none repeat scroll 0% 0%;
  float: none;
  list-style: outside none none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  z-index: 0;
}
section .homeSlider .circel {
  width: 110px;
  height: 22px;
  z-index: 3;
  position: absolute;
  bottom: 5px;
  left: 50%;
}
section .homeSlider .circel ul {
  height: 12px;
}
section .homeSlider .circel ul li {
  border-radius: 50%;
  margin: 5px;
  float: left;
  background-color: transparent;
  border: 1px solid silver;
  height: 9px;
  width: 9px;
  cursor: pointer;
  transition: all .2s linear;
}
section .homeSlider .circel ul li:hover {
  border: 1px solid #00cdf7;
  background: #00cdf7;
}
section .homeSlider .circel ul .first {
  border: 1px solid #00cdf7;
  background: #00cdf7;
}
section .homeSlider .middle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  z-index: 3;
  display: none;
}
section .homeSlider .middle .move {
  width: 1240px;
  height: 60px;
  margin: 210px auto 0;
  position: relative;
  z-index: 3;
}
section .homeSlider .middle .move .moveleft {
  height: 60px;
  width: 30px;
  text-align: center;
  line-height: 60px;
  margin-left: 244px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
section .homeSlider .middle .move .moveright {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 60px;
  width: 30px;
  text-align: center;
  line-height: 60px;
  margin-left: 1210px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
section .home-container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
section .home-container .scontainer {
  width: 1240px;
  margin: 0 auto;
}
section .home-container .scontainer .home-ad {
  margin-top: 6px;
  overflow: hidden;
}
section .home-container .scontainer .home-ad .service {
  width: 244px;
  background: #f9f9f9;
}
section .home-container .scontainer .home-ad .service .service2 {
  float: left;
  width: 50%;
  text-align: center;
}
section .home-container .scontainer .home-ad .service .service2 a {
  font-size: 12px;
  color: #333;
  padding: 15px;
  display: inline-block;
}
section .home-container .scontainer .home-ad .service .service2 a span {
  display: inline-block;
  height: 24px;
  width: 48px;
  background-size: auto 24px;
  background: no-repeat center bottom;
}
section .home-container .scontainer .home-ad .service .service2 a span img {
  vertical-align: top;
}
section .home-container .scontainer .home-ad .service .service2 a p {
  line-height: 12px;
  margin-top: 5px;
  font-size: 12px;
}
section .home-container .scontainer .home-ad .home-box {
  float: left;
  height: 140px;
}
section .home-container .scontainer .home-ad .ad-box {
  width: 244px;
  margin-left: 5px;
}
section .home-container .scontainer .home-hot {
  margin-top: 40px;
}
section .home-container .scontainer .home-hot .home-topbar {
  overflow: hidden;
}
section .home-container .scontainer .home-hot .home-topbar .home-title {
  font-size: 24px;
  color: #333;
  font-weight: 400;
  float: left;
}
section .home-container .scontainer .home-hot .home-rmain {
  overflow: hidden;
  border: 0;
  width: 1241px;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content {
  margin-left: -30px;
  margin-right: -10px;
  overflow: hidden;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-top: 20px;
  width: 1300px;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list {
  float: left;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product {
  position: relative;
  height: 338px;
  width: 247px;
  border: 1px solid #efefef;
  margin-right: -1px;
  z-index: 1;
  float: left;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product a .rm-product-d {
  padding: 36px 10px 5px;
  text-align: center;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product a .rm-product-d .rm-desc {
  margin-top: 40px;
  text-align: center;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product a .rm-product-d .rm-desc h4 {
  font-size: 14px;
  color: #555757;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product a .rm-product-d .rm-desc h6 {
  font-size: 12px;
  color: #999;
  margin-top: 2px;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product a .rm-product-d .rm-desc p {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  color: #e02b41;
  text-align: center;
}
section .home-container .scontainer .home-hot .home-rmain .rmd-content .rm-box .rm-list .rm-product a .rm-product-d .rm-desc p span {
  font-size: 16px;
  color: #e02b41;
}
section .home-container .home-floor-ad {
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 30px;
}
section .home-container .home-full-box {
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
}
section .home-container .home-full-box .full-container {
  width: 1240px;
  margin: 0 auto;
}
section .home-container .home-full-box .full-container .home-floor {
  margin-top: 40px;
}
section .home-container .home-full-box .full-container .home-floor .home-topbar {
  overflow: hidden;
}
section .home-container .home-full-box .full-container .home-floor .home-topbar h2 {
  font-size: 24px;
  color: #333;
  font-weight: 400;
  float: left;
}
section .home-container .home-full-box .full-container .home-floor .home-topbar h6 {
  float: left;
  padding-top: 6px;
}
section .home-container .home-full-box .full-container .home-floor .home-topbar .home-floor-tools {
  float: right;
  margin-top: 6px;
}
section .home-container .home-full-box .full-container .home-floor .home-topbar .home-floor-tools .more {
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  transition: color .2s linear;
}
section .home-container .home-full-box .full-container .home-floor .home-topbar .home-floor-tools .more:hover {
  color: #00cdf7;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content {
  padding-bottom: 34px;
  margin-left: -30px;
  margin-right: -10px;
  overflow: hidden;
  padding-left: 30px;
  padding-top: 20px;
  width: 1300px;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .content-box {
  margin-bottom: 6px;
  position: relative;
  float: left;
  margin-right: 6px;
  transition: left 0.2s ease, border 0.5s, z-index 0.5s;
  background-color: #fff;
  height: 338px;
  width: 244px;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product {
  top: 0;
  text-align: center;
  transition: all .2s linear 0s;
  position: relative;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product a .rm-product-d {
  padding: 36px 10px 5px;
  text-align: center;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product a .rm-product-d .product-desc {
  margin-top: 40px;
  text-align: center;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product a .rm-product-d .product-desc h4 {
  font-size: 14px;
  color: #555757;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product a .rm-product-d .product-desc h6 {
  font-size: 12px;
  color: #999;
  margin-top: 2px;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product a .rm-product-d .product-desc p {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  color: #e02b41;
  text-align: center;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product a .rm-product-d .product-desc p span {
  font-size: 16px;
  color: #e02b41;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box-product:hover {
  transform: translateY(-4px);
  -moz-box-shadow: -9px 9px 20px rgba(0, 0, 0, 0.1), 7px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -9px 9px 20px rgba(0, 0, 0, 0.1), 7px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: -9px 9px 20px rgba(0, 0, 0, 0.1), 7px 10px 20px rgba(0, 0, 0, 0.1);
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box1 {
  height: 338px;
  width: 244px;
  position: relative;
  transition: .5s;
  overflow: hidden;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box1 .box2 {
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: .5s;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box1 .box2 a {
  display: block;
  width: 188px;
  height: 40px;
  border-radius: 5px;
  background: #ff5a59;
  color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  outline: 0;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
section .home-container .home-full-box .full-container .home-floor .home-floor-main .home-floor-content .box1:hover .box2 {
  transform: translateY(-100px);
}
section .home-container .home-full-box .home-floor-ad {
  width: 1240px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer {
  background-color: #fafafc;
}
footer .container {
  width: 1240px;
  margin: 0 auto;
}
footer .container .footer-servive {
  padding: 38px 8px 26px;
  border-bottom: 1px solid #e5e5e5;
}
footer .container .footer-servive ul {
  overflow: hidden;
  display: block;
}
footer .container .footer-servive ul li {
  float: left;
}
footer .container .footer-servive ul .item {
  width: 203px;
  text-align: center;
}
footer .container .footer-servive ul .item .img {
  display: inline-block;
  height: 36px;
  width: 94px;
  background: no-repeat 50% 50%;
  margin-bottom: 12px;
  text-align: center;
  background-image: url("../images/foot1.png");
}
footer .container .footer-servive ul .item p {
  text-align: center;
}
footer .container .footer-servive ul .item p .blod {
  color: #666;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
footer .container .footer-servive ul .line {
  padding-top: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}
footer .container .footer-servive ul .line span {
  display: inline-block;
  height: 44px;
  width: 1px;
  background-color: #e5e5e5;
}
footer .container .footer-nav {
  overflow: hidden;
  padding: 30px 0;
  margin-right: -10px;
}
footer .container .footer-nav .nav-item {
  float: left;
  width: 244px;
  text-align: center;
  margin-right: 5px;
}
footer .container .footer-nav .nav-item h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
footer .container .footer-nav .nav-item ul {
  text-align: center;
}
footer .container .footer-nav .nav-item ul li {
  line-height: 22px;
}
footer .container .footer-nav .nav-item ul li a {
  font-size: 12px;
  color: #666;
  transition: color .2s linear;
  line-height: 22px;
}
footer .container .footer-nav .nav-item ul li a:hover {
  color: #00cdf7;
}
footer .container .footer-nav .nav-custom {
  float: left;
  width: 244px;
  text-align: center;
  margin-right: 5px;
}
footer .container .footer-nav .nav-custom h4 {
  font-size: 14px;
  color: #666;
  text-align: center;
}
footer .container .footer-nav .nav-custom a h3 {
  color: #1fa7ea;
  font-size: 24px;
  margin: 20px 0 14px;
  text-align: center;
}
footer .container .footer-nav .nav-custom .nav-btn {
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #1fa7ea;
  border-radius: 2px;
  font-size: 12px;
  transition: all .2s linear;
}
footer .container .footer-nav .nav-custom .nav-btn img {
  line-height: 34px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}
footer .container .footer-end {
  border-top: 1px solid #e5e5e5;
  padding: 38px 0 56px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
footer .container .footer-end p {
  text-align: center;
  color: #666;
  font-size: 12px;
}
