header .top {
  height: 41px;
  background: #fafafc;
  position: relative;
}
header .top .head {
  width: 1240px;
  height: 41px;
  margin: 0 auto;
}
header .top .head .top-left {
  height: 40px;
  float: left;
}
header .top .head .top-right {
  height: 40px;
  float: right;
}
header .top .head .top-right .top-info {
  float: right;
}
header .top .head .top-right .top-info li {
  float: left;
}
header .top .head .top-right .top-info li a .top-new {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #ed4462;
  font-size: 12px;
  margin-left: 5px;
  height: 13px;
  line-height: 10px;
  padding: 0 2px;
  top: -1px;
  border-radius: 2px;
}
header nav {
  height: 80px;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 150;
  background: #fff;
}
header nav .nav-mid {
  width: 1240px;
  margin: 0 auto;
}
header nav .nav-mid .logo {
  float: left;
  padding: 30px 0;
}
header nav .nav-mid .head-nav {
  float: left;
  margin-left: 100px;
  height: 80px;
}
header nav .nav-mid .head-nav ul {
  height: 100%;
}
header nav .nav-mid .head-nav ul li {
  float: left;
  cursor: pointer;
  position: relative;
}
header nav .nav-mid .head-nav ul li a {
  padding: 20px 0 0;
  color: #333;
  font-size: 16px;
  display: block;
  transition: color .2s linear;
}
header nav .nav-mid .head-nav ul li a:hover {
  color: #00cdf7;
}
header nav .nav-mid .head-nav .top-hide {
  z-index: 30;
  height: 204px;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #f3f3f3;
  position: absolute;
  top: 80px;
  display: none;
}
header nav .nav-mid .head-nav .top-hide .container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list {
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li {
  float: left;
  padding: 10px 14px 26px 14px;
  width: 162px;
  position: relative;
  text-align: center;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a {
  outline: 0;
  text-align: center;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a .pro-name {
  width: 162px;
  color: #333;
  font-size: 12px;
  text-align: center;
  margin-bottom: -100px;
  position: absolute;
  left: 0;
  top: 140px;
}
header nav .nav-mid .head-nav .top-hide .container .menu-list li a .price {
  font-size: 14px;
  color: #e23b4f;
  text-align: center;
  margin-bottom: -100px;
  position: absolute;
  left: 50px;
  top: 160px;
}
section div,
section ul,
section li {
  display: block;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
section ul,
section ol,
section dl,
section dt,
section dd,
section p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
}
section #payment .mzcontainer {
  width: 1240px;
  margin: 0 auto;
}
section #payment .mzcontainer .payment_header {
  overflow: hidden;
  margin: 40px 0;
  border: 1px solid #e0e0e0;
  padding: 30px;
}
section #payment .mzcontainer .payment_header .icon {
  float: left;
}
section #payment .mzcontainer .payment_header .icon .payment_icon.success {
  float: left;
  width: 58px;
  height: 58px;
  background-position: 0 -171px;
}
section #payment .mzcontainer .payment_header .icon .payment_icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../../images/pay/payment.png) no-repeat;
}
section #payment .mzcontainer .payment_header .icon .info {
  float: left;
  margin-left: 30px;
  height: 100%;
  width: 800px;
}
section #payment .mzcontainer .payment_header .icon .info .main {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
section #payment .mzcontainer .payment_header .icon .info .main h2 {
  display: block;
  font-size: 1.5em;
  margin-bottom: 22px;
}
section #payment .mzcontainer .payment_header .icon .info .main h2 span {
  font-size: 21px;
  color: #31a5e7;
}
section #payment .mzcontainer .payment_header .icon .info .main .tips {
  color: #e02b41;
}
section #payment .mzcontainer .payment_header .icon .info .main p {
  color: #999;
}
section #payment .mzcontainer .payment_header .icon .info .other {
  width: 100%;
  padding-top: 30px;
}
section #payment .mzcontainer .payment_header .icon .info .other .tr {
  line-height: 30px;
}
section #payment .mzcontainer .payment_header .icon .info .other .tr .name {
  float: left;
  width: 78px;
}
section #payment .mzcontainer .payment_header .icon .info .other .tr .value {
  width: 722px;
}
section #payment .mzcontainer .payment_header .icon .info .other .tr .value .prod:first-child {
  border-left: 0;
  padding-left: 0;
}
section #payment .mzcontainer .payment_header .icon .info .other .tr .value .prod {
  display: inline-block;
  border-left: 1px solid #d8d8d8;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
}
section #payment .mzcontainer .tab_panel {
  margin: 40px 0;
  width: 100%;
  overflow: hidden;
}
section #payment .mzcontainer .tab_panel .btns {
  font-size: 16px;
  color: #515151;
  border-left: 1px solid #e0e0e0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
section #payment .mzcontainer .tab_panel .btns .active {
  border-top: 1px solid #31a5e7;
  color: #31a5e7;
}
section #payment .mzcontainer .tab_panel .btns li {
  background: white;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  width: 155px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  position: relative;
  float: left;
}
section #payment .mzcontainer .tab_panel .panels {
  margin-top: -1px;
  width: 100%;
  position: relative;
  z-index: 1;
}
section #payment .mzcontainer .tab_panel .panels .tools_choose {
  padding: 30px 0;
  margin-bottom: 86px;
}
section #payment .mzcontainer .tab_panel .panels li {
  width: 99.8%;
  min-height: 120px;
  border: 1px solid #e0e0e0;
  position: relative;
  float: left;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix {
  zoom: 1;
  overflow: hidden;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .radio-box {
  position: relative;
  float: left;
  margin-left: 60px;
  margin-bottom: 30px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .radio-box .radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  margin-right: 25px;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .radio-box .payment_icon {
  background-position: -125px 0;
  width: 125px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  background: url(../../images/pay/payment.png) no-repeat;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .boc .payment_icon {
  background-position: -375px 0;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .ccb .payment_icon {
  background-position: 0 -38px;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .aboc .payment_icon {
  background-position: -250px 0;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .icbc .payment_icon {
  background-position: -375px -38px;
}
section #payment .mzcontainer .tab_panel .panels li .clearfix .bocm .payment_icon {
  background-position: 0 -76px;
}
section #payment .mzcontainer .tab_panel .go_to_pay {
  position: absolute;
  bottom: -76px;
  right: 0;
  background: #ea5245;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  width: 164px;
}
footer {
  background-color: #fafafc;
}
footer .container {
  width: 1240px;
  margin: 0 auto;
}
footer .container .footer-servive {
  padding: 38px 8px 26px;
  border-bottom: 1px solid #e5e5e5;
}
footer .container .footer-servive ul {
  overflow: hidden;
  display: block;
}
footer .container .footer-servive ul li {
  float: left;
}
footer .container .footer-servive ul .item {
  width: 203px;
  text-align: center;
}
footer .container .footer-servive ul .item .img {
  display: inline-block;
  height: 36px;
  width: 94px;
  background: no-repeat 50% 50%;
  margin-bottom: 12px;
  text-align: center;
  background-image: url("../images/foot1.png");
}
footer .container .footer-servive ul .item p {
  text-align: center;
}
footer .container .footer-servive ul .item p .blod {
  color: #666;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
footer .container .footer-servive ul .line {
  padding-top: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}
footer .container .footer-servive ul .line span {
  display: inline-block;
  height: 44px;
  width: 1px;
  background-color: #e5e5e5;
}
footer .container .footer-nav {
  overflow: hidden;
  padding: 30px 0;
  margin-right: -10px;
}
footer .container .footer-nav .nav-item {
  float: left;
  width: 244px;
  text-align: center;
  margin-right: 5px;
}
footer .container .footer-nav .nav-item h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
footer .container .footer-nav .nav-item ul {
  text-align: center;
}
footer .container .footer-nav .nav-item ul li {
  line-height: 22px;
}
footer .container .footer-nav .nav-item ul li a {
  font-size: 12px;
  color: #666;
  transition: color .2s linear;
  line-height: 22px;
}
footer .container .footer-nav .nav-item ul li a:hover {
  color: #00cdf7;
}
footer .container .footer-nav .nav-custom {
  float: left;
  width: 244px;
  text-align: center;
  margin-right: 5px;
}
footer .container .footer-nav .nav-custom h4 {
  font-size: 14px;
  color: #666;
  text-align: center;
}
footer .container .footer-nav .nav-custom a h3 {
  color: #1fa7ea;
  font-size: 24px;
  margin: 20px 0 14px;
  text-align: center;
}
footer .container .footer-nav .nav-custom .nav-btn {
  display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #1fa7ea;
  border-radius: 2px;
  font-size: 12px;
  transition: all .2s linear;
}
footer .container .footer-nav .nav-custom .nav-btn img {
  line-height: 34px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}
footer .container .footer-end {
  border-top: 1px solid #e5e5e5;
  padding: 38px 0 56px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
footer .container .footer-end p {
  text-align: center;
  color: #666;
  font-size: 12px;
}
/*# sourceMappingURL=paycenter.css.map */
